/** -------------------------------- \\
  * Variables
*** -------------------------------- */

:root {
    --color_tlnx_bg: #FEFDF5;
    --color_tlnx_green: #00e2a9;
    --color_tlnx_green--light: #D3FFA5;
    --gradient-greens: linear-gradient(25deg, var(--color_tlnx_green), var(--color_tlnx_green--light) 70%);
}

/** -------------------------------- \\
  * Typography
*** -------------------------------- */

@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist[wght].ttf');
    font-weight: 100 900;
}

html, body {
    font-family: 'Geist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h4, p {
    width: 100%;
}

h1 {
    font-size: 58px;
    line-height: 112%;
    font-weight: 700;
    margin: 0;
}

h1 strong {
    font-weight: 800;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 120%;
    }
}

p {
    font-size: 18px;
    line-height: 140%;
    margin: 16px 0;
}

a {
    color: inherit;
}

/** -------------------------------- \\
  * Heigh-Level Infrastructure
*** -------------------------------- */

html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    position: relative;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
    .container {
        padding: 80px 0;    
    }
    
}

/** -------------------------------- \\
 * Buttons & Forms
*** -------------------------------- */

a.button {
    border-radius: 50px;
    background: var(--color_tlnx_green);
    text-decoration: none;
    padding: 18px 34px;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    a.button {
        padding: 14px 28px;
    }
}

a.button span {
    line-height: 1;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

@media screen and (max-width: 768px) {
    a.button span {
        font-size: 18px;
    }
}

/** -------------------------------- \\
 * Media
*** -------------------------------- */

figure {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}


/** -------------------------------- \\
 * Section: Hero
*** -------------------------------- */

 .hero__background,
 .hero__background img,
 .hero__background video {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
 }
 
 .hero__background { 
    z-index: -1;
 }

 .hero__background video,
 .hero__background img {
    object-fit: cover;
    object-position: center bottom;
    filter: brightness(64%);
 }

 #hero .container {
    padding: 90px 0 140px;
    max-width: 1000px;
    color: #FFF;
 }

@media screen and (max-width: 768px) {
    #hero .container {
        padding: 50px 0 80px;
    }
}

.hero__logo {
   margin-bottom: 48px;
   justify-content: flex-start;
}

@media screen and (max-width: 768px) {
 .hero__logo {
     margin-bottom: 34px;
 }   
}

.hero__logo img {
    width: 44%;
    max-width: 182px;
}

#hero h1 {
    margin-bottom: 22px;
    color: rgba(255,255,255,.5);
}

@media screen and (max-width: 1024px) {
    #hero h1 br {
        display: none;
    }
}

#hero h1 strong {
    color: rgba(255,255,255,1);
    font-weight: 700;
}

#hero p {
    font-size: 34px;
    margin: 0 0 48px;
    opacity: .9;
}

@media screen and (max-width: 1024px) {
    #hero p {
        font-size: 28px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    #hero p {
        font-size: 22px;
        line-height: 126%;
    }
}

#hero a.button {
    margin-left: auto;
    background: var(--gradient-greens);
}

/** -------------------------------- \\
 * Section: Insights
*** -------------------------------- */

#insights {
    background-color: var(--color_tlnx_bg);
}

 #insights .container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

@media screen and (max-width: 768px) {
    #insights .container {
        padding: 44px 0;
    }
}

#insights .insights__title {
    width: 100%;
    border: 1px solid;
}

@media screen and (max-width: 768px) {
 #insights .insights__title {
     border: none;
 }   
}

#insights .insights__title img {
    display: block;
    margin: 34px auto 50px;
    width: 44%;
    max-width: 170px;
}

@media screen and (max-width: 768px) {
 #insights .insights__title img {
     margin: 0 auto 24px;
 }   
}

#insights ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    border-width: 1px;
    border-style: none solid solid solid;
}

@media screen and (max-width: 768px) {
    #insights ul {
        flex-direction: column;
    }
}

 #insights ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;

 }

  #insights ul li:not(:last-of-type) {
    border-right: 1px solid;
  }

@media screen and (max-width: 768px) {

    #insights ul,
    #insights ul li,
    #insights ul li:not(:last-of-type) {
        border: none;
    }

    #insights ul li {
        padding: 16px 0;
    }

}

#insights ul li img {
    max-width: 100%;
}

#youTube, #notionVip {
    width: 31%;
}

#proNex {
    width: 38%;
}

@media screen and (max-width: 768px) {
    #youTube, #notionVip, #proNex {
        width: auto;
    }
}
 
#youTube img {
    width: 149px;
}

#proNex img {
    width: 320px;
}

#notionVip img {
    width: 92px;
}

@media screen and (max-width: 768px) {
    
    #youTube img {
        width: 120px
    }

    #proNex img {
        width: 256px;
    }

    #notionVip img {
        width: 74px;
        position: relative;
        left: 12px;
    }
    
}


/** -------------------------------- \\
 * Section: Clients
*** -------------------------------- */

#clients {
    background-color: #000;
}

@media screen and (max-width: 768px) {
    #clients .container {
        padding: 50px 0 70px;
    }
}

#clients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#clients li {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: #555;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    #clients li {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    #clients li {
        width: 100%;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 10px;
    }
}

#clients li:first-of-type {
    color: var(--color_tlnx_green);
}

@media screen and (max-width: 768px) {

    #clients li:first-of-type {
        font-size: 22px;
        margin-bottom: 28px;
    }

}

#clients li:after {
    content: '//';
    font-weight: 200;
    margin: 0 10px;
}

@media screen and (max-width: 768px) {
    #clients li:after {
        margin: 0 0 0 8px;
        content: '\\\\'
    }
}


/** -------------------------------- \\
 * Section: CTA
*** -------------------------------- */

#cta {
    background-color: var(--color_tlnx_bg);
}

#cta .container {
    gap: 44px;
    text-align:center;
    min-height: 80vh;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #cta .container {
        min-height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    #cta .container {
        text-align: left;
        align-items: flex-start;
        gap: 34px;
    }
}


.cta__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cta__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta__background ~ * {
    position: relative;
}

.cta__logo img {
    width: 46%;
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    .cta__logo {
        justify-content: left;
    }
}

#cta h1 {
    letter-spacing: -1px;
}

#cta a.button {
    margin-top: 16px;
}