/*
 * ------------------------------------ \\
 * ------------------------------------ //
 * Contents
 * ------------------------------------ \\
 * ------------------------------------ //
 * Typography
 * Page Header
 * Main Menu
 * Guide Sections
 * Notion Blocks
 * Site Footer
 * Homepage
 * ------------------------------------ \\
 * ------------------------------------ //
*/

:root {
    --purple: #994497;    
}

/* 
 * ------------------------------------ \\
 * Typography
 * ------------------------------------ //
*/

h1.notion-header__title {
    margin-bottom: 36px;
}


/* 
 * ------------------------------------ \\
 * End Typography
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Page Header
 * ------------------------------------ //
*/

div.notion-header__cover.no-cover {
    max-height: 50px;
}

/* 
 * ------------------------------------ \\
 * End Page Header
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Main Menu
 * ------------------------------------ //
*/

#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-group__section-header:not(.no-border),
#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-list {
    border-top:none;
}

#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-group__section-header {
    padding-bottom: 0;
}

#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-group__section.open:not(.board) {
    margin-bottom: 0;
}


#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-list__item:hover {
    background: none;
}

#block-6fa6c0d082254d338b135a23c7c95020 .notion-pill {
    background: none;
    color: #787673;
    opacity: .6;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 0;
}

#block-6fa6c0d082254d338b135a23c7c95020 .notion-collection-group__section:nth-of-type(2) .notion-collection-group__section-header {
    padding-top: 0;
}

#block-6fa6c0d082254d338b135a23c7c95020 .notion-property__title__icon-wrapper {
    display: none;
}

/* 
 * ------------------------------------ \\
 * End Main Menu
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Guide Sections
 * ------------------------------------ //
*/

/* Page properties */
.notion-page__properties {
    display: none;
}

/* Inputs list: Cursor */
.parent-page__sections .notion-collection-list__item,
.parent-page__sections .notion-collection-list__item a {
    cursor: default;
}

/* Inputs list: Item border */
.parent-page__sections .notion-collection-list__item span {
    border-bottom: none!important;
}

/* Next-section link */
article > .notion-column-list:last-child .notion-column:nth-of-type(2) {
    text-align: right;
}

/* 
 * ------------------------------------ \\
 * End Guide Sections
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Notion Blocks
 * ------------------------------------ //
*/

/* 
 * ------------------ \\
 * Collections (Databases)
 * ------------------ //
*/

.notion-collection-list .notion-collection-list__item {
    cursor: default;
}

.notion-collection-list .notion-collection-list__item:hover {
    background-color: transparent;
}

/* 
 * ------------------ \\
 * End Collections (Databases)
 * ------------------ //
*/

/* 
 * ------------------ \\
 * Callouts
 * ------------------ //
*/

.notion-root .notion-callout.border {
    padding: 22px 18px!important;
    border-color: var(--color-text-default)
}

.notion-callout__content > span,
.notion-callout__content > ul {
    color: var(--color-text-default);
}

.notion-callout__content > span:first-child {
    display: block;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 12px;
}

.notion-callout .notion-column {
    padding: 0;
}

/* 
 * ------------------ \\
 * End Callouts
 * ------------------ //
*/

/* 
 * ------------------------------------ \\
 * End Notion Blocks
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Site Footer
 * ------------------------------------ //
*/

div.super-footer.stack {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.super-footer__logo span.super-footer__logo-text {
    font-size: 13px!important;
    font-weight: 300;
}

/* 
 * ------------------------------------ \\
 * End Site Footer
 * ------------------------------------ //
*/

/* 
 * ------------------------------------ \\
 * Homepage
 * ------------------------------------ //
*/

#page-index .notion-header__content.max-width,
#page-index .super-content.max-width {
    max-width: 1100px;
}

/* 
 * ------------------------------------ \\
 * End Homepage
 * ------------------------------------ //
*/